<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Airie Assistance</a>

      <div  class="d-flex" >
        <a class="nav-link active" href="#">About</a>
      </div>
    
  </div>
</nav>
<div class="container-fluid">
  <div [hidden]="uiStage!=1">
  <app-landing></app-landing>
  </div>
  <div [hidden]="uiStage!=2">
    <app-visas></app-visas>
  </div> 
  <div [hidden]="uiStage!=3">
    <app-visa-questions></app-visa-questions>
  </div>  
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2">
      <div [hidden]="uiStage<2"><button class="btn" (click)="moveStage(false)">Go Back</button></div>
    </div>
    <div class="col-2">
      <div [hidden]="uiStage>2"><button  class="btn btn-primary" (click)="moveStage(true)">Select Visa</button></div>
      <div [hidden]="uiStage<3">
        <input class="form-control" placeholder="Enter email" />
        <button  class="btn btn-primary" (click)="moveStage(true)">Send Custom Report</button>
      </div>
      
    </div>
    <div class="col-4"></div>
  </div>
  
</div>
<router-outlet />
