<section class="page-section portfolio" id="portfolio" [hidden]="reportAnswerId>0">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-3"><p class="lead"> Select the request to process:</p></div>
      
    </div>
    <div class="row" style="padding-bottom:20px"></div>
    <div class="row" *ngFor="let submission of submissions" style="padding-bottom:20px">
      <div class="row" [hidden]="currentAnswerId!=0 && submission.answerSetId!=currentAnswerId">
        <div class="col-2"></div>
        <div class="col-2">{{submission.userName}}</div>
        <div class="col-2">Processed : {{submission.processed}}</div>
        <div class="col-2"><button (click)="viewDetails(submission.answerSetId)" class="btn btn-small btn-info">View</button></div>
        <div class="col-2"><button (click)="gotoReport(submission.answerSetId,submission.userName,submission.firstName,submission.uniqueLink,submission.email)" class="btn btn-small btn-info">Report</button></div>
      </div>
    </div>
    <div class="row" *ngFor="let detail of submissiondetails" >
        <div class="row" [hidden]="detail.answerSetId!=currentAnswerId" style="padding-bottom:10px">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">{{detail.questionText}}</div>
            <div class="col-3">{{detail.answerText}}</div>
          </div>
        </div>
        
    </div>

  </div>

</section>
<div *ngIf="reportAnswerId>0">
  <app-report [answerSetId]="reportAnswerId" [userName]="userName" [firstName]="firstName" [uniqueLink]="uniqueLink" [email]="email"></app-report>
</div>  